
<div class="card mt-2 bg-secondary text-light" style="width: 44rem; border-color:"black"">
  <div class="card-body">
    <h5 class="card-title">Title: <%= @lead.title %></h5>
    <p class="card-text">Client Name: <%= @lead.client_name %></p>
    <p class="card-text">Client Address: <%= @lead.client_address %></p>
    <p class="card-text">Client Email: <%= @lead.client_email %></p>
    <p class="card-text">Client Contact: <%= @lead.client_contact %></p>
    <p class="card-text">Platform Used:<%= @lead.platform_used %></p>
    <p class="card-text">Test Type: <%= @lead.test_type %></p>
  </div>
</div>

<%= render partial: "comments/comments", locals: {commentable: @lead}%>

<h2>Add a review:</h2>
<%= render partial: 'comments/form',  locals: {commentable: @lead}%>
