
<%= form_for [@lead, @phase] do |form|%>

  <div>
    <%= form.label :phase_type%><br>
    <%= form.text_field :phase_type, :readonly => true%>
  </div>

  <div class="mt-3">
    <%= form.label :start_date%><br>
    <%= form.text_field :start_date, :readonly => true%>
  </div>

  <div class="mt-3">
    <%= form.label :due_date%><br>
    <%= form.text_field :due_date, :readonly => true%>
  </div>
<%byebug%>
  <div class="mb-5 mt-3">
    <p> Role: </p>
    <%= form.select :user_ids,options_for_select(@managers),selected: @managers.first %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
