
<%= form_with model:[@lead, @phase] do |form|%>

  <div>
    <%= form.label :phase_type%><br>
    <%= form.text_field :phase_type, :readonly => true%>
  </div>

  <div class="mt-3">
    <%= form.label :start_date%><br>
    <%= form.text_field :start_date, :readonly => true%>
  </div>

  <div class="mt-3">
    <%= form.label :due_date%><br>
    <%= form.text_field :due_date, :readonly => true%>
  </div>
<%# <%byebug%> %>
  <div class="mb-5 mt-3">
    <p> Role: </p>
    <% if @assigned_manager != nil %>
        <span><b> Manager: </b> <%= @assigned_manager.name%> </span>
        <div class="field mb-3">
        <%= form.label :user_ids %><br>
        <%# <%= form.select :user_ids, options_for_select(@engineers,selected: @engineers.first), options={multiple: true} %> %>
        <%= select_tag :user_ids,
              options_for_select(@engineers, selected: @engineers.first),
              multiple: true %>

        </div>
    <% else %>
        <%= form.select :user_ids,options_for_select(@managers),selected: @managers.first %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
