<h3>WElcome to show of Phase <%= @phase.id%> </h3>

       <h3>Title: <%= @phase.phase_type %> </h3>
        <p> Start Date: <%= @phase.start_date %> </p>
        <p> End Date: <%= @phase.due_date %> </p>

<%= link_to "Edit", edit_lead_phase_path(@lead.id, @phase.id)%>
<%= render partial: "shared/comments", locals: {commentable: @phase}%>

<h5>Add a comment below</h5>
<%= render partial: 'shared/form', locals: {commentable: @phase, path_prefix: @lead}%>
