<h3>WElcome to show of Phase <%= @phase.id%> </h3>

       <h3>Title: <%= @phase.phase_type %> </h3>
        <p> Start Date: <%= @phase.start_date %> </p>
        <p> End Date: <%= @phase.due_date %> </p>
        <p> <b> Assigned Manager:</b>
                <%  if @assigned_manager != nil %>
                        <%= @assigned_manager.name%>
                <% else %>
                        <span> Not assigned yet! </span>
                <% end %>
        </p>
        <% byebug %>
        <p> <b> Assigned Engineers:</b> </p>
        <% @assigned_engineer_arr.each do |engnr|%>
        <p> <%= engnr.name if engnr.roles.first.name != "manager" %> </p>
        <% end %>
        <% if @phase.phase_assignments.empty? %>
                <%= link_to "Edit", edit_lead_phase_path(@lead.id, @phase.id) %>
        <% end %>
<%= render partial: "shared/comments", locals: {commentable: @phase}%>

<h5>Add a comment below</h5>
<%= render partial: 'shared/form', locals: {commentable: @phase, path_prefix: @lead}%>
